@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #e8e9eb;
    --foreground: #293241;
    /* текст на странице */

    --muted: #ff0000;
    --muted-foreground: #293241;
    /*  например текст в инпутах */

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: #ffffff;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: #b5b9c2;

    --primary: #1dd3b0;
    --primary-foreground: #fff ;

    --secondary: #cfcfcf;
    --secondary-foreground: #293241;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --ring: 212.7 26.8% 83.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground text-base;
    font-family: "Lato", sans-serif;
  }
}
